@model IEnumerable<LuckySpin.Models.Spin>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Spins</title>
</head>
<body>
    <h2>Here is a list of your spins!</h2>
    <table>
        <thead>
            <tr>
                <th>Lucky Number</th>
                <th>Winner?</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (LuckySpin.Models.Spin spin in Model)
            {
            <tr>
                <td>@spin.Luck</td>
                <td>@spin.IsWinner</td>
            </tr>
            }

        </tbody>
    </table>
</body>
</html>